html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}
 .main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
 }
 .logo {
  display: inline-block;
  margin-bottom: 50px;
 }

 .menu {
  margin-bottom: 50px;
 }
 .link {
  display: inline-block;
  padding: 24px 49px;
  margin-right: 25px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;

 }

 .link:last-child {
  margin-right: 0;
}

.link-download {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  display: inline-block;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  padding-left: 30px;
  background-repeat: no-repeat;
}

/* article */

.container {
  margin: 0 auto;
padding: 80px 0;
width: 1170px;
}

.heading {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.text {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.block {
  border-radius: 20px;
padding: 30px;
background-color: #f3f3f3;
margin-bottom: 40px;
padding-right: 30px;
background-position: right center;
background-repeat: no-repeat;
background-size: contain;
}

.block:last-child {
  margin-bottom: 0;
}

.block .text {
  width: 692px;
  margin-bottom: 10px;
}

.title-h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.title-h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.lists {
  margin: 0;
  padding-left: 15px ;
}

.list:not(:last-child) {
  margin-bottom: 20px;
}

 .img:not(.figure .img) {
  margin-bottom: 40px;
 }

 .figure {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
 }

 .text-1 {
  background-color: #3f2aff;
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
 }

 .block-1 {
  background-image: url("../img/decorate-1.png");
 }

 .block-2 {
  background-image: url("../img/decorate-2.png");
 }

.list::marker {
  color: #3f2aff;
}

.list-link {
  color: #3f2aff;
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
}

.description {

  border: 1px solid #b6b6b6;
  border-top: 0;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/* modules */

.modules-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
}

.logo-modules {
  display: block;
  margin-bottom: 25px;
}


.link-back {
display: inline-block;
margin-bottom: 25px;
color: #3F2AFF;
font-weight: 400;
font-size: 20px;
line-height: 23px;
background-image: url("../img/Arrow1.svg");
background-position: left center;
background-repeat: no-repeat;
padding: 0 62px;
}

.title-modules {
margin: 0;
margin-bottom: 50px;
font-weight: 700;
font-size: 60px;
line-height: 69px;
color: #3F2AFF;
}

.h2-modules {
  margin: 0;
font-weight: 700;
font-size: 40px;
line-height: 46px;
color: #3F2AFF;
}
 .list-module {
list-style-type: none;
margin: 0;
padding: 0;
font-size: 0;
margin-bottom: 25px;
 }

 .lists-modules {
display: inline-block;
vertical-align: top;
padding: 205px 25px 25px;
margin-right: 25px;
margin-bottom: 25px;
position: relative;
height: 505px;
width: 572px;
background-repeat: no-repeat;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
 }

 .lists-modules:nth-child(2n) {
  margin-right: 0;
 }

 .lists-modules1 {
  background-image: url("../img/1v.jpg");
 }

 .lists-modules2 {
  background-image: url("../img/2b.jpg");
 }

 .lists-modules3 {
  background-image: url("../img/3b.jpg");
 }

 .lists-modules4 {
  background-image: url("../img/4r.jpg");
 }

 .list-wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333333;
 }

 .number {
position: absolute;
bottom: 25px;
right: 25px;
font-weight: 400;
font-size: 40px;
line-height: 46px;
color: #EAEAEA;
 }

 .button {
  display: block;
  padding: 24px 75px;
  margin: 0 auto;
  border: 2px solid #3F2AFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3F2AFF;
  background-color: #fff;
  cursor: pointer;
 }
